{% extends "base_generic.html" %}

{% block content %}
<p><b>Author:</b> {{ author.name_of_author }} </p>
	{% if author.type_of_author == 'P' %}
<p><b>Typology:</b> POET </p>
	{% endif %}
	{% if author.type_of_author == 'B' %}
<p><b>Typology:</b> BAND </p>
	{% endif %}
	{% if author.type_of_author == 'S' %}
<p><b>Typology:</b> SONGWRITER </p>
	{% endif %}

	{% if user.is_authenticated %}
<h4>All texts: </h4>

		{% if author.text_set.all %}
<ul>
	{% for text in author.text_set.all %}
	{% if text.status_of_translation == 'W' %}
	{% if perms.app_tracoll.permession_of_edit_text_with_every_status or perms.edit_W_and_E_status_texts %}
	<li>
		<a href="{{text.translation.get_absolute_url}}" target="_self">{{text.title}}: WAITING FOR TRANSLATION</a>
	</li>
	{% endif %}
	{% elif text.status_of_translation == 'E' %}
	{% if perms.app_tracoll.permession_of_edit_text_with_every_status or perms.edit_W_and_E_status_texts %}
	<li>
		<b><a href="{{text.translation.get_absolute_url}}" target="_self">{{text.title}}: EDITABLE TRANSLATION</a></b>
	</li>
	{% endif %}
	{% elif text.status_of_translation == 'L' %}
	<li>
		{% if perms.app_tracoll.permession_of_edit_text_with_every_status %}
		<a href="{{text.translation.get_absolute_url}}" target="_self">{{text.title}}: UNDER AMMINISTRATOR REVISION</a>
		{% elif perms.edit_W_and_E_status_texts %}
		<span>{{text.title}} <span style="color:red;">Under revision by administrator</span></span>
		{% endif %}
	</li>
	{% elif text.status_of_translation == 'V' %}
	<li>
		<a href="{{text.translation.get_absolute_url}}" target="_self">{{text.title}}: FINAL TRANSLATION</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>
		{% else %}
			<h4 class="text-danger">This author has no Texts</h4>
		{% endif %}
	{% else %}
		{% if author.text_set.all %}
		<h4>Translated texts:</h4>
				<ul>
					{% for text in author.text_set.all %}
						{% if  text.status_of_translation == 'V' %}
						<li>
							<a href="{{text.translation.get_absolute_url}}" target="_self">{{text.title}} </a>
						</li>
						{% endif %}
					{% endfor %}
				</ul>
		{% else %}
				<h4 class="text-danger">This author has no Texts</h4>
		{% endif %}
	{% endif %}

{% endblock %}

