{% extends "base_generic.html" %}

{% block content %}
		<p><b>Author:</b> {{ author.name_of_author }} </p>
		{% if author.type_of_author == 'P' %}
			<p><b>Typology:</b> POET </p>
		{% endif %}
		{% if author.type_of_author == 'B' %}
			<p><b>Typology:</b> BAND </p>
		{% endif %}
		{% if author.type_of_author == 'S' %}
			<p><b>Typology:</b> SONGWRITER </p>
		{% endif %}
		<div style="margin-left:20px;margin-top:20px">
			{% if author.text_set.all %}
				<h4>Translated texts:</h4>
				<ul>
					{% for texts in author.text_set.all %}
						{% if texts.status_of_translation == 'E' or texts.status_of_translation == 'V' %}
					<li>
						<a href="{{texts.translation.get_absolute_url}}" target="_self">
							{{texts.title}}
						</a>
					</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% else %}
				<h4 class="text-danger">This author has no traslated texts</h4>
			
			{% endif %}
		</div>
{% endblock %}
