{% extends "base_generic.html" %}

{% block content %}
	<div class="translating_page_div">
		<h3 class="translating_page_title">Translation Page: </h3>

		<p><b>Title:</b> {{text.title}}</p>								<!-- ORIGINAL TEXT -->
		<p><b>Content:</b>  {{text.content}}</p>						<!-- ORIGINAL CONTENT -->
		<hr>
		{% if user.is_authenticated %}													<!-- IF AUTHENTICATED -->
			{% if perms.app_tracoll.permession_of_edit_text_with_every_status %}		<!-- ADMIN -->
				<form action="" method="post">
					{% csrf_token %}
					<table style="text-align:left;width:80%;">
						{{ form.as_table }}
					</table>
					<input type="submit" value="Submit">
				</form>
			{% elif perms.app_tracoll.edit_W_and_E_status_texts and text.status_of_translation != 'L'%}	<!-- AUTHENTICATED USER (can't edit text under control of admin)-->
				<form action="" method="post">
					{% csrf_token %}
					<table style="text-align:left;width:80%;">
						{{ form.as_table }}
					</table>
					<input  type="submit" value="Submit">
				</form>
			{% else %}
				<p class="text-danger">You DO NOT have permission to edit or add translation  <br>because this text is under review by administrator </p>
			{% endif %}
		{% else %}
			<p class="text-danger">You DO NOT have permission to edit or add translation  <br>because you are NOT authenticated</p>
		{% endif %}
	</div>
{% endblock %}