{% extends "base_generic.html" %}

{% block content %}
	<h1>Translations List</h1>

	<ul>
		{% for translation in translation_list %}
			<li>
				{% if translation.original_text.status_of_translation == 'V' %}
				<b><a href="{{translation.get_absolute_url}}" target="_self">{{ translation.translated_title }}</a></b>

				<a href="{{translation.original_text.author.get_absolute_url}}" target="_self">
					{{ translation.original_text.author.name_of_author }}
				</a>
				{% endif %}
			</li>
		{% empty %}
			<p>There are no translations in the app.</p>
		{% endfor %}
	</ul>

{% endblock %}>