{% extends "base_generic.html" %}

{% block content %}
    {% if translation.original_text.status_of_translation == 'V' %}
        <h1>Original title: {{ translation.original_text.title }}</h1>
        <p><strong> Original Text: </strong> <br>{{ translation.original_text.content }}</p>
        <h1>Translated title: {{ translation.translated_title }}</h1>
        <p><strong> Translated Text: </strong> <br>{{ translation.translated_content }}</p>
     {% else %}
        <h1>FOOOOOOOOOOOORRRRRRMMMMMMMMMMMM</h1>
     {% endif %}
{% endblock %}
